<div class="contact">
	<div class="social-links">
	   <a href="https://medium.com/@davehorsfall" target="_blank"><i class="fab fa-medium"></i></a>
	   <a href="https://www.github.com/davehorsfall" target="_blank"><i class="fab fa-github"></i></a>
	   <a href="https://www.twitter.com/dave_horsfall" target="_blank"><i class="fab fa-twitter-square"></i></a>
	   <a href="https://scholar.google.com/citations?user=iDdjwxcAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar"></i></a>
	   <a href="https://www.linkedin.com/in/davehorsfall" target="_blank"><i class="fab fa-linkedin-in"></i></a>
	</div>
 </div>